/* ACENTUAÇÕES NO SITE */
@charset "UTF-8";

/* FONTES */
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* PALETA DE CORES + FONTES */
:root {

    --cor0: #FFFFFF;
    --cor1: #b6b6b6;
    --cor2: #7e22fd;
    --cor3: #5D04D9;
    --cor4: #4703A6;
    --cor5: #1B0140;

    --fonte-padrao: 'Catamaran', sans-serif;
}

/* CONFIGURAÇÕES GLOBAIS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*--CORPO--*/
body {
    background-color: #7d22fd9a;
    font-family: var(--fonte-padrao);
}

/* CONTAINER */
.container {
    max-width: 75%;
    margin: 0 auto;
}

/*--CABEÇALHO--*/
.cabecalho {
    background-image: linear-gradient(to top,var(--cor4), var(--cor3), var(--cor2));
    padding: 1rem;
    width: 100%;
}

.header-position {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* LOGO E BARRA DE PESQUISA */
.cabecalho .header-position .imagem-input {
    display: flex;
    align-items: center;
}

.cabecalho .header-position .imagem-input .img-box {
    width: 25%;
}

.cabecalho .imagem-input .img-box svg {}


.cabecalho .header-position .imagem-input .input-box {
    position: relative;
}

.cabecalho .header-position .imagem-input .input-box .input-search {
    padding: 0.6rem 1.2rem;
    border-radius: 8px;
    border: 2px solid white;
}

.cabecalho .header-position .imagem-input .input-box .input-search:focus-visible {
    border: 2px solid var(--cor5);
    outline: none;
}

.cabecalho .header-position .imagem-input .input-box svg {
    width: 1.3rem;
    color: var(--cor4);
    top: 23%;
    left: 85%;
    position: absolute;
    cursor: pointer;
}

/*--MENU-- */
.menu {
    width: 40%;
}

/* LISTA DE LINKS */
.menu .lista-menu {
    display: flex;
    align-items: center;
    list-style: none;
    justify-content: space-between;
}

.menu .lista-menu .item-menu {}

.menu .lista-menu .item-menu a {
    color: var(--cor0);
    font-size: 1.3em;
    font-weight: 600;
    font-family: var(--fonte-padrao);
    text-decoration: none;
    padding: 0.2rem;
}

.menu .lista-menu .item-menu > a:hover {
    background-color: var(--cor2);
    transition: .5s;
    padding: 0.2rem;
    border-radius: 6px;
}

/* SUB MENU 1 */
.item-menu p {
    color: var(--cor0);
    font-size: 1.3em;
    font-weight: 600;
    font-family: var(--fonte-padrao);
    padding: 0.2rem;
}

.item-menu p:hover {
    background-color: var(--cor2);
    transition: .5s;
    padding: 0.2rem;
    border-radius: 6px; 
}

.item-menu #btn-sub-menu-1 {
    display: none;
}

.item-menu .check-sub-menu-1 {
    top: 5%;
    position: absolute;
    left: 67%;
    display: none;
}

.item-menu .check-sub-menu-1 img {}

.item-menu .sub-menu-1 {
    position: absolute;
    width: 12%;
    display: none;
}
.item-menu:hover .sub-menu-1{
    display: block;
} 

.item-menu .sub-menu-1 .lista-sub-menu-1 {
    list-style: none;
    background-color: var(--cor3);
    box-shadow: 3px 4px 9px rgba(0, 0, 0, 0.384);
}

.item-menu .sub-menu-1 .lista-sub-menu-1 .item-sub-menu {
    border-bottom: 1px solid var(--cor5);
}

.item-menu .sub-menu-1 .lista-sub-menu-1 .item-sub-menu a {
    width: 100%;
    display: block;
}

.item-menu .sub-menu-1 .lista-sub-menu-1 .item-sub-menu a:hover {
    background-color: var(--cor2);
    transition: .5s;
    padding: 0.2rem;
}

/* SUB MENU 2 */
.item-menu p {}

.item-menu #btn-sub-menu-2 {
    display: none;
}

.item-menu .check-sub-menu-2 {
    top: 5%;
    position: absolute;
    left: 67%;
    display: none;
}

.item-menu .check-sub-menu-2 img {}

.item-menu:hover .sub-menu-2 {
    display: block;
}

.item-menu .sub-menu-2 {
    position: absolute;
    width: 12%;
    display: none;
}
.item-menu .sub-menu-2 .lista-sub-menu-2 {
    list-style: none;
    background-color: var(--cor3);
    box-shadow: 3px 4px 9px rgba(0, 0, 0, 0.384);
}

.item-menu .sub-menu-2 .lista-sub-menu-2 .item-sub-menu {
    border-bottom: 1px solid var(--cor5);
}

.item-menu .sub-menu-2 .lista-sub-menu-2 .item-sub-menu a {
    width: 100%;
    display: block;
}

.item-menu .sub-menu-2 .lista-sub-menu-2 .item-sub-menu a:hover {
    background-color: var(--cor2);
    transition: .5s;
    padding: 0.2rem;
}

/*--CONTEÚDO--*/
.conteudo {}

.conteudo h1 {
    text-align: center;
    font-size: 3em;
    color: var(--cor0);
    font-weight: 800;
    text-shadow: 5px 4px 8px var(--cor5);
}

/* BOTÃO CELULAR */
.menu #btn {
    display: none;
}

.menu .checkbox-btn {
    position: absolute;
    right: 9%;
    top: 4%;
    cursor: pointer;
    display: none;
    z-index: 1;
}

.menu .checkbox-btn img {
    width: 2.4rem;
}


@media screen and (min-width: 1000px) and (max-width:1260px) {
    .item-menu .sub-menu-1 {
        width: 17%;
    }
    
    .item-menu .sub-menu-2 {
        width: 17%;
    }
}

@media screen and (min-width: 830px) and (max-width: 1000px) {
    .item-menu .sub-menu-1 {
        width: 21%;
    }

    .item-menu .sub-menu-2 {
        width: 21%;
    }
}

@media screen and (min-width: 830px) and (max-width: 940px) {
    .container {
        max-width: 100%;
    }

    .menu {
        width: 55%;
    }

    .menu .lista-menu {
        width: 50%;
    }
}


@media screen and (max-width: 830px) {
    .container {
        width: 100%;
    }
    
    .cabecalho .header-position .imagem-input {
        width: 100%;
    }
    
    .menu .checkbox-btn {
        display: block;
    }

    .menu #btn:checked ~ .lista-menu {
        right: 0;
    }
    
    .menu .lista-menu {
        position: fixed;
        width: 40%;
        height: 100vh;
        background-color: #5d04d9dc;
        top: 0;
        right: -100%;
        text-align: center;
        transition: all .5s;
        flex-direction: column;
        display: flex;
        justify-content: flex-start;
    }

    .menu .lista-menu .item-menu {
        margin: 0.6rem 0;
        width: 100%;
    }

    .menu .lista-menu .item-menu a {
        width: 100%;
        display: block;
    }

    .menu .lista-menu .item-menu a:hover {
        background-color: var(--cor4);
        border-radius: unset;
    }
    
    .item-menu .check-sub-menu-1 {
        display: block;
        top: 11.4%;
        left: 85%;
    }

    .item-menu .check-sub-menu-2 {
        display: block;
        top: 20%;
        left: 85%;
    }

    .sub-menu-1 .lista-sub-menu-1  {
        height: 48vh;
        flex-direction: column;
        display: flex;
        justify-content: space-between;
    }

    .sub-menu-2 .lista-sub-menu-2  {
        height: 32vh;
        flex-direction: column;
        display: flex;
        justify-content: space-between;
    }

    .sub-menu-1 .lista-sub-menu-1 .item-sub-menu {
        border-top: 1px solid var(--cor5);
    }

    .sub-menu-2 .lista-sub-menu-2 .item-sub-menu {
        border-top: 1px solid var(--cor5);
    }

    .item-menu .sub-menu-1 .lista-sub-menu-1 .item-sub-menu a:hover {
        background-color: var(--cor4);
    }

    .item-menu .sub-menu-2 .lista-sub-menu-2 .item-sub-menu a:hover {
        background-color: var(--cor4);
    }

    .item-menu .sub-menu-1{
        width: 40%;
        position: fixed;
        right: -100%;
        transition: all 0.5s;
    }

    .item-menu #btn-sub-menu-1:checked ~ .sub-menu-1 {
        right: 0;
    }

    .item-menu .sub-menu-2 {
        width: 40%;
        position: fixed;
        right: -100%;
        transition: all 0.5s;
    }

    .item-menu #btn-sub-menu-2:checked ~ .sub-menu-2 {
        right: 0;
    }


    .item-menu p:hover {
        background-color: var(--cor4);
        border-radius: unset;
    }

}

@media screen and (min-width: 350px) and (max-width: 670px) {
    .menu .lista-menu {
        width: 63%;
    }

    .item-menu .sub-menu-1 {
        width: 63%;
    }

    .item-menu .sub-menu-2 {
        width: 63%;
    }

}

@media screen and (max-width: 440px) {

    .cabecalho .header-position .imagem-input .input-box .input-search {
        width: 80%;
    }

    .cabecalho .header-position .imagem-input .input-box svg  {
        left: 64%;
    }
}

