* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
}

header {
    background-color: #161616;
    padding: 30px 20px;
}


nav .logo {}

nav .logo h1 {
    color: white;
    padding: 10px;
}

nav .logo h1:hover {
    background-color: rgba(82, 81, 81, 0.418);
    padding: 10px;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
    overflow: hidden;
    transition: all 0.5s;
}

nav ul li  {
    padding: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    padding: 10px;
}

nav ul li a:hover {
    background-color: rgba(82, 81, 81, 0.418);
    padding: 10px;
}

nav button:focus ~ ul {
    height: 230px;
}

nav button {
    border: none;
    background-color: transparent;
    color: white;
    font-size: 36px;
    position: absolute;
    top: 35px;
    right: 10px;
    display: none;
}

@media (max-width: 689px) {
    header {
        padding: 0;
    }

    nav {
        flex-direction: column;
    }
    
    ul {
        flex-direction: column;
        display: none;
        padding: 0;
        width: 100%;
        height: 0;
        text-align: center;
    }

    nav {
        padding: 0;
        align-items: flex-start;
    }

    h1 {
        margin: 30px;
    }

    #botao {
        display: flex;
    }

    li {
        padding: 10px;
        width: 100%;
    }

    li a{
        display: block;
    }

    li a:hover {
        padding: 5px;
        display: block;
    }
}